pkgbase = papirus-icon-theme-stripped
	pkgdesc = Papirus icon theme, stripped to only base (default + dark) variations.
	pkgver = 20230601
	pkgrel = 1
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme
	arch = any
	license = GPL3
	provides = papirus-icon-theme
	conflicts = papirus-icon-theme
	noextract = papirus-icon-theme-20230601.tar.gz
	options = !strip
	options = !emptydirs
	source = papirus-icon-theme-20230601.tar.gz::https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/archive/20230601.tar.gz
	sha256sums = 92d2e487cd3572e90c8cd28ada407cf0d28a81a4f4cb16cb537d1b92f7269486

pkgname = papirus-icon-theme-stripped
